<!DOCTYPE html>
<html lang="en">
<head>
    <title>Women Startup Summit</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spinnaker&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="timeline.css">
    <link rel="stylesheet" href="ksum_footer.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
<header class="site-header">
    <div class="header-bar">
        <div class="container-fluid">
						<div class="row justify-content-end">
							<div class="col-7">
								<nav class="site-navigation fixed-top">
									<div class="hamburger-menu d-lg-none">
											<span></span>
											<span></span>
											<span></span>
											<span></span>
									</div><!-- .hamburger-menu -->

									<ul>
											<li><a data-scroll href="#home">Home</a></li>
											<li><a data-scroll href="#about">About</a></li>
											<li><a data-scroll href="#speakers">Speakers</a></li>
											<li><a data-scroll href="#agenda">Agenda</a></li>
											<li><a data-scroll href="#ksum-footer">Contact</a></li>
									</ul>
								</nav><!-- .site-navigation -->
							</div>
						</div>
        </div><!-- .container-fluid -->
    </div><!-- .header-bar -->

    <div class="swiper-container hero-slider" id="home">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-date="2019/08/01" style="background: url('images/slt/bg2.jpg') no-repeat; background-size: cover; min-height: 100vh; height: 100vh">
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 flex flex-row justify-content-between">
																<!-- <div class="wss-logo"></div> -->
                                <div class="details flex flex-column justify-content-end">
                                    <div>
																			<h3 id="date">1st August 2019</h3>
                                    </div>
                                    <div>
																			<h3 id="loc">Integrated Startup Complex, Cochin</h3>
                                    </div>
                                </div>
                                <!-- <div class="entry-header">
                                    <div class="countdown flex align-items-center">
                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dday"></span>
                                            <label>Days</label>
                                        </div><!-- .countdown-holder --

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dhour"></span>
                                            <label>Hours</label>
                                        </div><!-- .countdown-holder --

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dmin"></span>
                                            <label>Minutes</label>
                                        </div><!-- .countdown-holder --

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span class="dsec"></span>
                                            <label>Seconds</label>
                                        </div><!-- .countdown-holder --
                                    </div><!-- .countdown -->

                                    <!-- <h2 class="entry-title">1 We have the best events. <br>Get your tiket now!</h2> --
                                </div> -->
																<!-- <div class="marquee">
																	Grab earlybird discounts... Register Now
																</div> -->
                                <div class="entry-footer">
																		<a target="_blank" href="https://in.explara.com/e/womenstartupsummit"><img src="./images/slt/bird.png"></a>
                                </div><!-- .entry-footer" -->
														</div><!-- .col -->
														<div class="col-12" style="margin-top:37vh;">
																<a target="_blank" class="btn gradient-bg" href="https://in.explara.com/e/womenstartupsummit">Register Now</a>															
														</div>
                        </div><!-- .container -->
                    </div><!-- .hero-content -->
                </div><!-- .swiper-slide -->
            </div><!-- .swiper-wrapper -->
        </div>

        <!-- Add Pagination -->
        <!-- <div class="swiper-pagination"></div> -->

        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
        </div>

        <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
        </div> -->
    </div><!-- .swiper-container -->
</header><!-- .site-header -->

<div class="homepage-info-section" id="about">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12 col-md-4 col-lg-5">
                <figure>
                    <img src="images/logo-2.png" alt="logo">
                </figure>
            </div> -->

            <div class="col-12 text-center">
                <header class="entry-header">
                    <h2 class="entry-title text-left">Women Startup Summit</h2>
                </header>

                <div class="entry-content">
										<p style="text-align: justify">
											Innovation and technology provide unprecedented opportunities, yet indicate a growing digital divide and women are under-represented in the field of science and Technology. It is vital that women’s ideas and experiences equally influence the design and implementation of the innovations that shape our future societies.
										</p>
										<p style="text-align: justify">
											Women Startup Summit is an initiative of Kerala Startup mission to encourage aspiring women professionals to take up the entrepreneurial journey and develop an inclusive entrepreneurship ecosystem in Kerala.  The summit will bring together successful women leaders, Startup founders, policy makers and aspiring women entrepreneurs at a common platform to share their experiences, aspirations and celebrate success stories.
										</p>
										<div class="collapse" id="show_more">
											<p style="text-align: justify;" >
												Women Startup Summit will witness a community of inspiring and innovative visionaries whose ambitious actions are changing the world with unprecedented scale. Featuring dynamic panel discussions, Fireside chats and keynote conversations, Women Startup Summit will convene a diverse range of female luminaries from Technology, business, media and entertainment.
											</p>
											<p style="text-align: justify; " >
												The summit has designed in such a way that aspiring women entrepreneurs and startup founders will gain amazingly new insights through knowledge-based sessions, inspiring stories and one-on one interaction.
											</p>
											<p style="text-align: justify;" >
												The summit will revolve around the theme “Developing an Inclusive Entrepreneurship Ecosystem” 
											</p>
										</div>

								</div>
								<button type="button" id="show_more_button" class="btn btn-sm btn-outline-primary">+</button>

                <!-- <footer class="entry-footer text-left">
                    <a href="#" class="btn dark">Register Now</a>
                </footer> -->
            </div>
        </div>
    </div>
</div>

<div class="homepage-featured-events" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <header class="featured-events-header">
                    <h2 class="entry-title text-left">Speakers</h2>
                </header>
                <div class="swiper-container homepage-regional-events-slider">
                    <div class="swiper-wrapper" id="slidervue">
												
											<div class="swiper-slide" v-for="speaker in speakers">
												<figure>
														<img :src="'images/slt/'+speaker.image" alt="">
												</figure><!-- .hero-image -->

												<div class="entry-header">
														<h2 class="entry-title">{{speaker.name}}</h2>
												</div><!--- .entry-header -->

												<div class="entry-footer">
														<div class="posted-date">{{speaker.desi}}</div>

														<div class="posted-date">{{speaker.company}}</div>
												</div><!-- .entry-footer" -->
											</div><!-- .swiper-slide -->
                        
                    </div><!-- .swiper-wrapper -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
                    </div>

                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
                    </div>
								</div><!-- .swiper-container -->
								<a class="btn gradient-bg" href="speakers.html" style="position: absolute; margin-top: 40px; margin-left: -100px;">View All</a>															
								
            </div>
        </div>
    </div>
</div>

<div class="homepage-next-events" id="agenda">
    <div class="container">
        <div class="row justify-content-start">
            <div class="next-events-section-header">
                <h2 class="entry-title">Programme Schedule - Track 1</h2>
                <!-- <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et, scelerisque sit amet metus. Duis vel semper turpis, ac tempus libero. Maecenas id ultrices risus. Aenean nec ornare ipsum, lacinia.</p> -->
            </div>
				</div>
				
				<div class="row">
					<div class="col">
						<div class="timeline">
							<ul>
								<li v-for="(item, index) in left">
									<div class="bullet" :class="index%2?'pink':'orange'"></div>
									<div class="time">{{item.time}}</div>
									<div class="desc">
										<h3>{{item.item}}</h3>
										<!-- <h4>Mobile App</h4> -->
									</div>
								</li>
								
								
								<!-- <li>
									<div class="bullet green"></div>
									<div class="time">3 - 4pm</div>
									<div class="desc">
										<h3>Design Stand Up</h3>
										<h4>Hangouts</h4>
										<div class="people">
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/ashleyford/128.jpg" alt="" />
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg" alt="" />
											<img src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" alt="" />
										</div>
									</div>
								</li> -->
							</ul>
						</div>  
					</div>
					<div class="col">
						<div class="timeline">
							<ul>
								
									<li v-for="(item, index) in right">
										<div class="bullet" :class="index%2?'pink':'orange'"></div>
										<div class="time">{{item.time}}</div>
										<div class="desc">
											<h3>{{item.item}}</h3>
											<!-- <h4>Mobile App</h4> -->
										</div>
									</li>
							</ul>
						</div>  
					</div>
				</div>
    </div>
</div>

<div class="homepage-regional-events" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                             

                <div class="events-partners">
                   
									<header class="entry-header">
											<h2 class="entry-title">Partners</h2>
									</header>
                    <div class="events-partners-logos flex flex-wrap justify-content-between align-items-center">
                        <div class="event-partner-logo">
                            <a href="#"><img src="images/slt/part3.png" alt=""></a>
                        </div>

                        <div class="event-partner-logo">
                            <a href="#"><img src="images/slt/part4.png" alt=""></a>
                        </div>

                        <div class="event-partner-logo">
                            <a href="#"><img src="images/slt/part5.png" alt=""></a>
												</div>

												<div class="event-partner-logo">
													<a href="#"><img src="images/slt/part7.png" alt=""></a>
												</div>
												
												<div class="event-partner-logo">
													<a href="#"><img src="images/slt/part6.png" alt=""></a>
												</div>

												

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- <div class="newsletter-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header class="entry-header">
                    <h2 class="entry-title">Subscribe to our newsletter to get the latest trends & news</h2>
                    <p>Join our database NOW!</p>
                </header>

                <div class="newsletter-form">
                    <form class="flex flex-wrap justify-content-center align-items-center">
                        <div class="col-md-12 col-lg-3">
                            <input type="text" placeholder="Name">
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <input type="email" placeholder="Your e-mail">
                        </div>

                        <div class="col-md-12 col-lg-3">
                            <input class="btn gradient-bg" type="submit" value="Subscribe">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section id="map">

	<!-- <h3>Venue Location</h3>	 -->
	<object width="100%" height="400" data="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15714.112156332161!2d76.3547144!3d10.0557486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa45cc77b2251f08e!2sIntegrated+Startup+Complex!5e0!3m2!1sen!2sin!4v1557121899904!5m2!1sen!2sin"></object>
</section>

<section id="ksum-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 d-flex flex-column"><img class="img-fluid" src="images/slt/logo-white.svg">
							<div class="footer-address w-100">
											<p class="text-center">Kerala Startup Mission<br></p>
											<p class="text-center">G3B, Thejaswini, Technopark Campus<br></p>
											<p class="text-center">Kariyavattom, Trivandrum, Kerala 695581<br></p>
							</div>
							<div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center footer-phone">
									<i class="fa fa-phone fa-3x"></i>
											<h3>08033948999<br></h3>
							</div>
							<p class="text-center">( Timings: 08.00 am to 08.00 pm )<br></p>
							<div class="d-flex flex-row justify-content-center align-items-center align-content-center footer-social mt-4"><a href="https://www.facebook.com/keralastartupmission"><i class="fa fa-facebook fa-2x"></i></a><a href="https://twitter.com/startup_mission"><i class="fa fa-twitter fa-2x"></i></a><a href="https://in.linkedin.com/company/kerala-startup-mission"><i class="fa fa-linkedin fa-2x"></i></a>
											<a href="https://www.pinterest.com/pin/796996465276301175/"><i class="fa fa-pinterest fa-2x"></i></a><a href="https://www.youtube.com/channel/UCGnD5pg8MOIetz93sEvCHbw"><i class="fa fa-youtube-play fa-2x"></i></a></div>
			</div>
			<div class="col-sm-4 mt-4">
							<h2>Useful Links<br></h2>
							<ul class="useful-link">
											<li><a href="https://startupmission.kerala.gov.in">Home</a></li>
											<li><a href="https://startupmission.kerala.gov.in/media-kit">Media Kit</a></li>
											<li><a href="https://startupmission.kerala.gov.in/about">About KSUM</a></li>
											<li><a href="https://startupmission.kerala.gov.in/faq">FAQ</a></li>
											<li><a href="https://startupmission.kerala.gov.in/news">Latest News</a></li>
											<li><a href="https://startupmission.kerala.gov.in/site-map">Site Map</a></li>
											<li><a href="https://startupmission.kerala.gov.in/career">Career</a></li>
											<li><a href="https://startupmission.kerala.gov.in/tender">Tenders</a></li>
											<li><a href="https://startupmission.kerala.gov.in/gov-orders">Government Orders</a></li>
											<li><a href="https://startupmission.kerala.gov.in/contact">Contact</a></li>
							</ul>
			</div>
			<div class="col-sm-4 mt-4">
							<h2>CONTACT<br></h2>
							<p>
								<b>Salini V R</b><br>
								Assitant Manager, Global Linkages,<br>
								Kerala Startup Mission<br>
								Contact Number: +91 9633-24-5595<br>
								Contact id : salini@startupmission.in
							</p>
							
			</div>
			
		</div>
	</div>
</section>
<section id="ksum-copy">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="text-center copyright-text">Copyright © 2019 Kerala Startup Mission. All Rights Reserved.<br></p>
			</div>
		</div>
	</div>
</section>


<div class="back-to-top flex justify-content-center align-items-center">
    <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1395 1184q0 13-10 23l-50 50q-10 10-23 10t-23-10l-393-393-393 393q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
</div>

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='js/swiper.min.js'></script>
<script type='text/javascript' src='js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='js/circle-progress.min.js'></script>
<script type='text/javascript' src='js/jquery.countTo.min.js'></script>
<script src="js/smooth-scroll.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/vue_code.js"></script>

<script type='text/javascript' src='js/custom.js'></script>


<script>
	
</script>
</body>
</html>